.promo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  background-color: #073042;
  padding: 80px 70px 75px;
  margin-bottom: 1px;
}

.promo__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  max-width: 624px;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin: 0;
  padding-bottom: 40px;
}
.promo__image {
  padding: 60px 0 0;
  max-width: 680px;
  max-height: 230px;
  opacity: 0.7;
  align-self: flex-end;
}

@media screen and (max-width: 1023px) {
  .promo {
    padding: 300px 70px 75px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .promo__title {
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.3;

    text-align: center;
    letter-spacing: -0.04em;

    color: #ffffff;
  }

  .promo__image {
    padding: 140px 0 0;
  }
}
@media screen and (max-width: 640px) {
  .promo {
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .promo__title {
    margin: 183px 0 0;
    font-weight: 400;
    font-size: 31px;
    line-height: 126%;

    text-align: center;
    letter-spacing: -0.04em;

    color: #ffffff;
    padding-bottom: 0;
  }

  .promo__image {
    padding: 60px 0 40px;
    max-width: 320px;
    max-height: 230px;
  }
}
