.search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 70px 70px;
  height: 72px;
  border: 1.5px solid #aaaaaa;
  border-radius: 8px;
}

.search__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.search__input {
  margin: 0;
  padding: 0;
  margin-left: 25px;
  min-height: 54px;
  border: none;
  
  width: inherit;
  opacity: 0.2;
}
.search__form_error {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  margin-top: 10px;
  color: #ff3055;
  visibility: hidden;
}
.search__form_error_active {
  visibility: visible;
}
.search__button {
  margin: 10px;
  padding: 0;
  min-width: 100px;
  min-height: 52px;
  box-sizing: border-box;
  border: none;
  color: #fff;
  background: #3456f3;
  border-radius: 5px;
}

.search__button:hover {
  opacity: 0.7;
}
.search__toggler-text {
  margin: 0;
  padding: 0;
  margin-left: 15px;
}

.search__toggler {
  margin-top: 26px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
}


@media screen and (max-width:1025px) {
  .search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 70px 30px;
    height: 72px;
    border: 1.5px solid #aaaaaa;
    border-radius: 8px;
  }
  
  .search__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .search__input {
    margin: 0;
    padding: 0;
    margin-left: 25px;
    min-height: 54px;
    border: none;
    opacity: 0.2;
  }
  
  .search__button {
    margin: 10px;
    padding: 0;
    min-width: 100px;
    min-height: 52px;
    box-sizing: border-box;
    border: none;
    color: #fff;
    background: #3456f3;
    border-radius: 5px;
  }
  
  .search__button:hover {
    opacity: 0.7;
  }
  .search__toggler-text {
    margin: 0;
    padding: 0;
    margin-left: 15px;
  }
  
  .search__toggler {
    margin-top: 26px;
    display: flex;
    position: relative;
    align-self: flex-start;
    align-items: center;
  }  
}

@media screen and (max-width:640px) {
  .search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 70px 14px;
    height: 72px;
    border: 1.5px solid #aaaaaa;
    border-radius: 8px;
  }
  
  .search__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .search__input {
    margin: 0;
    padding: 0;
    margin-left: 25px;
    min-height: 54px;
    border: none;
    opacity: 0.2;
  }
  
  .search__button {
    margin: 10px;
    padding: 0;
    min-width: 100px;
    min-height: 52px;
    box-sizing: border-box;
    border: none;
    color: #fff;
    background: #3456f3;
    border-radius: 5px;
  }
  
  .search__button:hover {
    opacity: 0.7;
  }
  .search__toggler-text {
    margin: 0;
    padding: 0;
    margin-left: 15px;
  }
  
  .search__toggler {
    margin-top: 26px;
    display: flex;
    position: relative;
    align-self: flex-start;
    align-items: center;
  }  
}