.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
  background-color: #073042;
  max-width: 1280px;
  margin: auto;
}

.header__link {
  display: flex;
  color: antiquewhite;
  text-decoration: none;
  transition: opacity 0.2s linear;
}

.header__link:hover {
  opacity: 0.6;
}

.header__button {
  box-sizing: border-box;
  padding: 8px 20px;
  max-width: 76px;
  max-height: 32px;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  line-height: 16px;
  background-color: #2be080;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.header__logo {
  margin: 0;
}

.auth {
  align-items: center;
  color: #686868;
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  margin: auto 0;
  min-width: 183px;
}