.register__content {
  display: flex;
  flex-direction: column;
  max-width: 392px;
  margin: 70px auto;
}
.register__title {
  align-self: flex-start;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  color: #000000;
}

.register__form {
  display: flex;
  flex-direction: column;
}
.register__form__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 10px;

  color: #a0a0a0;
}

.register__input {
  background: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  height: 46px;
  border: none;
}

.register__button {
  margin: 70px 0 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  height: 45px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;

  background: #3456f3;
  border-radius: 3px;
}
.register__logo {
  align-self: flex-start;
}

.register__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #a0a0a0;
}

.register__link {
  margin-left: 6px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #3456f3;
}

.register__form_error {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ff3055;
  visibility: hidden;
}
.register__form_error_active {
  visibility: visible;
  margin-bottom: 15px;
}

@media screen and (max-width: 640px) {
  .register__content {
    margin: 56px auto 0;
  }
  .register__logo {
    align-self: center;
  }
  .register__title {
    align-self: center;
  }
  .register__form {
    margin: 56px 20px 0;
  }
  .register__button {
    margin: 157px 0 16px;
  }
}
