.techs {
  padding: 110px 70px 100px;
  background: #F5F5F5;
}

.techs__heading {
  margin: 0;
  padding-bottom: 21px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  font-style: normal;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #000000;
}

.techs__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 70px 0;
  padding: 0;
}

.techs__title {
  margin: 0;
  padding: 90px 0 26px 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
}

.techs__subtitle {
  margin: 0;
  padding: 0;
  padding-bottom: 27px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.techs__stack {
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.techs__tile {
  box-sizing: border-box;
  width: 90px;
  height: 60px;
  color: #000000;
  margin: 0 10px;
  background: #e8e8e8;
  border-radius: 10px;
  padding: 21px 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.04em;
}
