.login__content {
  display: flex;
  flex-direction: column;
  max-width: 392px;
  margin: 232px auto;
}

.login__title {
  align-self: flex-start;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  color: #000000;
}

.login__form {
  display: flex;
  flex-direction: column;
}
.login__form__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 10px;

  color: #a0a0a0;
}

.login__input {
  background: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 20px;
  height: 46px;
  padding-left: 15px;
  border: none;
}

.login__button {
  margin: 70px 0 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  height: 45px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;

  background: #3456f3;
  border-radius: 3px;
  border: none;
}
.login__logo {
  align-self: flex-start;
}
.login__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #a0a0a0;
}

.login__link {
  margin-left: 6px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #3456f3;
}

@media screen and (max-width: 640px) {
  .login__content {
    margin: 56px auto 0;
  }
  .login__logo {
    align-self: center;
    margin-left: 20px;
  }
  .login__title {
    align-self: center;
  }
  .login__form {
    margin: 70px 20px;
  }
  .login__input {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
  }
  .login__text {
    font-size: 12px;
    line-height: 15px;
  }
  .login__link {
    font-size: 12px;
    line-height: 15px;
  }
}
